# Azure DevOps Pipeline for OWASP Dependency Check Update
# This pipeline updates the OWASP dependency check database with the latest vulnerability data

trigger:
  branches:
    include:
    - main
    - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'owasp-dependency-check-secrets'  # Variable group containing sensitive data
  - name: GRADLE_USER_HOME
    value: $(Pipeline.Workspace)/.gradle
  - name: NVD_API_DELAY
    value: '4000'

jobs:
- job: UpdateDependencyCheck
  displayName: 'Update OWASP Dependency Check Database'
  timeoutInMinutes: 60
  
  steps:
  - checkout: self
    displayName: 'Checkout source code'

  - task: JavaToolInstaller@0
    displayName: 'Install Java 11'
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: Cache@2
    displayName: 'Cache Gradle dependencies'
    inputs:
      key: 'gradle | "$(Agent.OS)" | **/gradle-wrapper.properties'
      restoreKeys: |
        gradle | "$(Agent.OS)"
        gradle
      path: $(GRADLE_USER_HOME)

  - task: Bash@3
    displayName: 'Make update script executable'
    inputs:
      targetType: 'inline'
      script: 'chmod +x update-dependencies.sh'

  - task: Bash@3
    displayName: 'Update OWASP Dependency Check Database'
    inputs:
      targetType: 'filePath'
      filePath: './update-dependencies.sh'
    env:
      DB_PASSWORD: $(DB_PASSWORD)
      NVD_API_KEY: $(NVD_API_KEY)
      DB_HOST: $(DB_HOST)
      DB_NAME: $(DB_NAME)
      DB_USER: $(DB_USER)
      NVD_API_DELAY: $(NVD_API_DELAY)
    continueOnError: false

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    condition: always()
    inputs:
      testResultsFiles: '**/TEST-*.xml'
      testRunTitle: 'OWASP Dependency Check Update'
      failTaskOnFailedTests: false
